*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    gap:16px;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
    height: 100vh;

}
.box{
    flex:1;
    width: 200px;
    height: 200px;
    background-color:lightgreen;
}

.container :nth-child(odd){
    background-color: lightpink;
}